@page
@model Kitapyurdu_Clone.Pages.hobiOyuncakModel
@{
    ViewData["Title"] = "Hobi & Oyuncak Çeşitleri";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="/css/hobiOyuncak.css" />
}
<main>
    <div class="hobi-oyuncak-container">
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-1.jpg" alt="">
            <h3></h3>
            <p>₺148,50</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-2.jpg" alt="">
            <h3></h3>
            <p>₺251,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-3.jpg" alt="">
            <h3></h3>
            <p>₺311,80</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-4.jpg" alt="">
            <h3></h3>
            <p>₺95,50</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-5.jpg" alt="">
            <h3></h3>
            <p>₺480,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-6.jpg" alt="">
            <h3></h3>
            <p>₺120,90</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-7.jpg" alt="">
            <h3></h3>
            <p>₺220,50</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-8.jpg" alt="">
            <h3></h3>
            <p>₺139,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-9.jpg" alt="">
            <h3></h3>
            <p>₺256,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-10.jpg" alt="">
            <h3></h3>
            <p>₺178,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-11.jpg" alt="">
            <h3></h3>
            <p>₺134,90</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-12.jpg" alt="">
            <h3></h3>
            <p>₺188,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-13.jpg" alt="">
            <h3></h3>
            <p>₺193,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-14.jpg" alt="">
            <h3></h3>
            <p>₺257,90</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-15.jpg" alt="">
            <h3></h3>
            <p>₺250,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-16.jpg" alt="">
            <h3></h3>
            <p>₺300,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-17.jpg" alt="">
            <h3></h3>
            <p>₺170,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-18.jpg" alt="">
            <h3></h3>
            <p>₺280,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-19.jpg" alt="">
            <h3></h3>
            <p>₺440,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-20.jpg" alt="">
            <h3></h3>
            <p>₺200,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-21.jpg" alt="">
            <h3></h3>
            <p>₺166,50</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-22.jpg" alt="">
            <h3></h3>
            <p>₺210,90</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-23.jpg" alt="">
            <h3></h3>
            <p>₺99,90</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-24.jpg" alt="">
            <h3></h3>
            <p>₺130,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-25.jpg" alt="">
            <h3></h3>
            <p>₺80,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-26.jpg" alt="">
            <h3></h3>
            <p>₺180,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-27.jpg" alt="">
            <h3></h3>
            <p>₺250,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-28.jpg" alt="">
            <h3></h3>
            <p>₺320,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-29.jpg" alt="">
            <h3></h3>
            <p>₺100,00</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-30.jpg" alt="">
            <h3></h3>
            <p>₺246,50</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-31.jpg" alt="">
            <h3></h3>
            <p>₺131,90</p>
        </div>
        <div class="hobi-oyuncak-card">
            <img src="/images/hobi-oyuncak-32.jpg" alt="">
            <h3></h3>
            <p>₺236,50</p>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.cart').addEventListener('click', function () {
            window.location.href = 'sepetim.html';
        });
    });
</script>
